volumes:
  proton-bridge:
  certificates:

services:
  bridge:
    image: yssro/proton-bridge
    environment:
      BRIDGE_HOSTNAME: ${BRIDGE_HOSTNAME}
    ports:
      - 1025:25/tcp
      - 1143:143/tcp
    restart: unless-stopped
    volumes:
      - proton-bridge:/root
      - certificates:/etc/traefik/acme:ro
